# UPDATER

In this notebook:
1. GET DATAFRAME
2. ANALYSE DATA
3. EVALUATE DATA
4. CLEAN DATA
4. FEED DATABASE

## GET DATAFRAME

In [1]:
import pyarrow.parquet as pq
import pandas as pd
import os
import json 
from csv import writer

from tqdm import tqdm
import month_update as u
from timeit import default_timer as timer

import warnings
warnings.filterwarnings('ignore')

In [2]:
year = '2019'
month = '07'
day = '03'

# split.to_new_files(year, month)

In [3]:
start = timer()
file_name = f'data/{year}/{month}/yellow_tripdata_{year}-{month}-{day}.parquet'
table = pq.read_table(file_name)
df = table.to_pandas()
raw_df = df

df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,str_date
372381,2,2019-07-03 12:59:22,2019-07-03 12:59:59,1.0,0.00,1.0,N,264,264,2,1.5,0.0,0.5,0.00,0.0,0.3,2.30,0.0,None,2019-07-03
383086,2,2019-07-03 00:00:01,2019-07-03 00:05:48,2.0,1.28,1.0,N,107,79,1,6.0,0.5,0.5,1.96,0.0,0.3,11.76,2.5,None,2019-07-03
383549,2,2019-07-03 00:00:30,2019-07-03 00:03:06,2.0,0.61,1.0,N,48,68,1,4.0,0.5,0.5,1.00,0.0,0.3,8.80,2.5,None,2019-07-03
383638,2,2019-07-03 00:00:00,2019-07-03 00:12:48,1.0,2.24,1.0,N,79,246,1,10.5,0.5,0.5,2.86,0.0,0.3,17.16,2.5,None,2019-07-03
383720,2,2019-07-03 00:01:37,2019-07-03 00:18:13,1.0,6.55,1.0,N,229,261,1,20.5,0.5,0.5,4.86,0.0,0.3,29.16,2.5,None,2019-07-03

## ANALYSE, EVALUATE AND CLEAN DATA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180584 entries, 372381 to 6280175
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               180584 non-null  int64
 1   tpep_pickup_datetime   180584 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  180584 non-null  datetime64[ns]
 3   passenger_count        179284 non-null  float64
 4   trip_distance          180584 non-null  float64
 5   RatecodeID             179284 non-null  float64
 6   store_and_fwd_flag     179284 non-null  object
 7   PULocationID           180584 non-null  int64
 8   DOLocationID           180584 non-null  int64
 9   payment_type           180584 non-null  int64
 10  fare_amount            180584 non-null  float64
 11  extra                  180584 non-null  float64
 12  mta_tax                180584 non-null  float64
 13  tip_amount             180584 non-null  float64
 14  tolls_amount           180584 non-null  float64
 15  improvement_surcharge  180584 non-null  float64
 16  total_amount           180584 non-null  float64
 17  congestion_surcharge   179284 non-null  float64
 18  airport_fee            0 non-null       object
 19  str_date               180584 non-null  object
dtypes: datetime64[ns](2), float64(11), int64(4), object(3)
memory usage: 28.9+ MB

In [5]:
df = df.drop('airport_fee', axis=1)

In [6]:
df = u.do_unique_ids(df)

In [7]:
raw_report = u.do_report(df)

In [8]:
duplicates = df[df.duplicated('trip_id')].index
df.drop(duplicates, axis=0, inplace=True)
duplicates_count = len(raw_df) - len(df)

In [9]:
df = df.dropna()
len(df)

178909

In [14]:
df.columns = ['trip_id',
        'vendor_id',
        'pickup_date',
        'drop_off_date', 
        'passenger_count',
        'trip_distance',
        'pu_location_id',
        'do_location_id',
        'rate_code_id',
        'flag',
        'payment_type_id',
        'fare_amount',
        'extra',
        'mta_tax',
        'improvement_surcharge',
        'tip_amount',
        'tolls_amount',
        'total_amount',
        'congestion_surcharge']

df = df[['trip_id',
        'vendor_id',
        'pu_location_id',
        'do_location_id',
        'rate_code_id',
        'payment_type_id',
        'pickup_date',
        'drop_off_date', 
        'passenger_count',
        'trip_distance',
        'flag',
        'fare_amount',
        'extra',
        'mta_tax',
        'improvement_surcharge',
        'tip_amount',
        'tolls_amount',
        'total_amount',
        'congestion_surcharge']]

In [10]:
df = df.drop('str_date', axis=1)

In [15]:
clean_report = u.do_report(df)

In [12]:
raw_report

,Data Type,Missing Values,Unique Values,Maximum Value,Minimum Value
trip_id,object,0,180209,42632632019070322243420190703222801,10010012019070315073520190703150806
VendorID,int64,0,3,4,1
tpep_pickup_datetime,datetime64[ns],0,68206,2019-07-03 23:59:59,2019-07-03 00:00:00
tpep_dropoff_datetime,datetime64[ns],0,69026,2019-07-04 23:56:57,2019-07-03 00:00:00
passenger_count,float64,1300,8,9.0,0.0
trip_distance,float64,0,2593,180.09,0.0
RatecodeID,float64,1300,7,99.0,1.0
store_and_fwd_flag,object,1300,2,NaN,NaN
PULocationID,int64,0,245,265,1
DOLocationID,int64,0,255,265,1
payment_type,int64,0,5,4,0
fare_amount,float64,0,1147,529.0,-350.0
extra,float64,0,23,18.5,-4.5
mta_tax,float64,0,4,3.3,-0.5
tip_amount,float64,0,1412,125.01,-7.06
tolls_amount,float64,0,157,57.12,-18.5
improvement_surcharge,float64,0,3,0.3,-0.3
total_amount,float64,0,3673,530.3,-350.8
congestion_surcharge,float64,1300,4,2.5,-2.5
str_date,object,0,1,2019-07-03,2019-07-03

In [16]:
clean_report

,Data Type,Missing Values,Unique Values,Maximum Value,Minimum Value
trip_id,object,0,178909,42632632019070322243420190703222801,10010012019070315073520190703150806
vendor_id,int64,0,3,4,1
pu_location_id,float64,0,7,99.0,1.0
do_location_id,object,0,2,Y,N
rate_code_id,int64,0,241,265,1
payment_type_id,int64,0,4,4,1
pickup_date,datetime64[ns],0,68047,2019-07-03 23:59:59,2019-07-03 00:00:00
drop_off_date,datetime64[ns],0,68875,2019-07-04 23:56:57,2019-07-03 00:00:00
passenger_count,float64,0,8,9.0,0.0
trip_distance,float64,0,2578,180.09,0.0
flag,int64,0,254,265,1
fare_amount,float64,0,455,529.0,-350.0
extra,float64,0,19,18.5,-4.5
mta_tax,float64,0,4,3.3,-0.5
improvement_surcharge,float64,0,1411,125.01,-7.06
tip_amount,float64,0,155,57.12,-18.5
tolls_amount,float64,0,3,0.3,-0.3
total_amount,float64,0,3384,530.3,-350.8
congestion_surcharge,float64,0,4,2.5,-2.5

In [17]:
dict = u.do_metrics(file_name, df, raw_df, raw_report, duplicates_count, start)

180584it [00:06, 25966.88it/s]

In [19]:
with open(f'metrics/metrics_{year}.csv', 'a', newline='') as f:
    writer(f).writerow(dict.values())

In [18]:
df.head()

,trip_id,vendor_id,pu_location_id,do_location_id,rate_code_id,payment_type_id,pickup_date,drop_off_date,passenger_count,trip_distance,flag,fare_amount,extra,mta_tax,improvement_surcharge,tip_amount,tolls_amount,total_amount,congestion_surcharge
372381,22642642019070312592220190703125959,2,1.0,N,264,2,2019-07-03 12:59:22,2019-07-03 12:59:59,1.0,0.00,264,1.5,0.0,0.5,0.00,0.0,0.3,2.30,0.0
383086,21070792019070300000120190703000548,2,1.0,N,107,1,2019-07-03 00:00:01,2019-07-03 00:05:48,2.0,1.28,79,6.0,0.5,0.5,1.96,0.0,0.3,11.76,2.5
383549,20480682019070300003020190703000306,2,1.0,N,48,1,2019-07-03 00:00:30,2019-07-03 00:03:06,2.0,0.61,68,4.0,0.5,0.5,1.00,0.0,0.3,8.80,2.5
383638,20792462019070300000020190703001248,2,1.0,N,79,1,2019-07-03 00:00:00,2019-07-03 00:12:48,1.0,2.24,246,10.5,0.5,0.5,2.86,0.0,0.3,17.16,2.5
383720,22292612019070300013720190703001813,2,1.0,N,229,1,2019-07-03 00:01:37,2019-07-03 00:18:13,1.0,6.55,261,20.5,0.5,0.5,4.86,0.0,0.3,29.16,2.5

## FEED DATABSE

In [ ]:
from sqlalchemy import create_engine

user='[INSET_HERE]'
db='[INSET_HERE]'
pw='[INSET_HERE]'

engine = create_engine(f"mysql+pymysql://{user}:{pw}@localhost/{db}")
df.to_sql('fact_trips', con=engine, if_exists='append', chunksize=100)